.product-card{
    width:230px;
    padding:0;
    /* border: 1px solid black; */
    margin:1rem 1rem 1rem 0;
    box-shadow: 0 2px 15px rgba(0,0,0,.2);
    transition:0.3s;
}

.product-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 20px rgba(0,0,0,.3)
}

.product-card-image{
    width: 230px;
    height: 280px;
}

.product-card-info-container{
    padding:0 10px;
    margin-top:10px;
    margin-bottom:5px
}

.product-brand{
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #282c3f;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.product-description{
    color: #535766;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    display: block;
}

.product-discountedPrice{
    font-size: 14px;
    color: #282c3f;
    font-weight: 500;
}

.product-regularPrice{
    color: #7e818c;
    font-weight: 400;
    margin-left: 5px;
    font-size: 12px;
}

.strike{
    text-decoration: line-through;
}

.product-discountPercentage{
    color: #ff905a;
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;
}