.product-slider{
    width:100vw;
    background:#f7f7f7;
    padding-left:3rem;
    position: relative;
    overflow-x:hidden;
}

.slide{
    display:flex;
    width:100%;
    transition: transform .5s;
    /* position: relative; */
}

.btn-right.carousel-btn{
    position: absolute;
    width: 76px;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    border: none;
    height: 33%;
    /* padding: 50px; */
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
    background: #cc277185;
    
    -webkit-transition: .15s;
    transition: all ease .15s;
    font-size: 2rem;
    color: rgb(255 255 255 / 0.4);
    transition: all 0.3s;
    cursor: pointer
}

.btn-left.carousel-btn{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 35px;
    z-index: 1000;
    padding: 10px 1.5rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    background: white;
    border-radius: 31px;
    box-shadow: 0 0 10px rgb(216 209 209 / 88%);
    color: rgb(198 33 69 / 0.9);
    cursor: pointer
}

.btn-right.carousel-btn:hover{
    background: #cc2770;
    color:white;
}

@media(min-width:576px){
    .product-slider{
        margin-left: 2.5rem;
        position: static;
    }

    .btn-left.carousel-btn{
        left:240px;
    }
}